<a href="https://colab.research.google.com/github/Nachtjagdgeschwader/Jupyter-Notebooks/blob/master/VotesAggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/elections.xlsx')
df

      region       party  votes
0  Регіон 1     Партія 1    100
1  Регіон 1     Партія 1     50
2  Регіон 1    Партія 2     100
3  Регіон 2     Партія 1     10
4  Регіон 2     Партія 1      5
5  Регіон 2    Партія 2      10

Series format:

In [ ]:
df.groupby(['region', 'party'])['votes'].sum()

region     party
Регіон 1    Партія 1     150
            Партія 2     100
Регіон 2    Партія 1      15
            Партія 2      10
Name: votes, dtype: int64

Dataframe format:

In [ ]:
df.groupby(['region', 'party'])[['votes']].sum().reset_index()

      region       party  votes
0  Регіон 1     Партія 1    150
1  Регіон 1    Партія 2     100
2  Регіон 2     Партія 1     15
3  Регіон 2    Партія 2      10